/* use http://the-echoplex.net/flexyboxes/ to experiment flexbox css3 */
@import 'nib'

$gray-darker =           #272B30
$gray-dark =              #3A3F44
$gray =                   #52575C
$gray-light =             #7A8288
$gray-lighter =           #999

$body-bg =               $gray-darker
$text-color =            #C8C8C8
$border-color =          #646478

@font-face{
  font-family: 'SciFly';
  src: url('_vendors/scifly/scifly-sans-webfont.eot');
  src: url('_vendors/scifly/scifly-sans-webfont.eot?#iefix') format('embedded-opentype'),
  url('_vendors/scifly/scifly-sans-webfont.woff') format('woff'),
  url('_vendors/scifly/scifly-sans-webfont.ttf') format('truetype'),
  url('_vendors/scifly/scifly-sans-webfont.svg#webfont') format('svg');
}
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'SciFly';
    src: url('_vendors/scifly/scifly-sans-webfont.svg#webfont') format('svg');
  }
}
*/

body {
  font-family: 'SciFly', Arial, sans-serif;
}
#score{
  text-align:right;
  right:0.5em;
  float:right
}
.sh{
  box-shadow:0px 0px 20px #111;
}

#game_area {
  position: relative;
  margin: auto;
/*
  width: 1120px;
  height: 630px;
*/
  /*
  To have a height dynamic at 16:9 of parent's width (require parent to be sized (eg 100% x 100%))
  see http://blog.brianjohnsondesign.com/maintain-aspect-ratio-for-html-element-using-only-css-in-a-responsive-design/
  but the width is not relative of maximum visible height
  overflow: auto
*/
  width: 85%;
  height: 0;
  padding-bottom: (@width * 9 / 16)
}
#layers, #layers >*{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#screenInGame >*{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#pauseOverlay
	margin auto
	opacity 0.8
	background #A0A0A0
	display flex
	flex-direction column
	flex-wrap nowrap
	justify-content center
	align-items stretch
	align-content center

#pauseOverlay >div
	order 0
	flex 0 1 auto
	align-self auto
	font-size: 30pt
	font-weight: bolder
	background: #000000
	color: #FFFFFF
	line-height: normal
	text-align: center
	display: block
	width: 100%

.fa-pauseplay:before {
  content: "\f04c";
}
.fa-pauseplay:hover:before {
  content: "\f04b";
}
#pauseOverlay a:hover {
  text-decoration: none;
  cursor: pointer;
}
/* see http://www.useragentman.com/blog/2012/01/03/cross-browser-html5-progress-bars-in-depth/ */
#gameload {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  margin-bottom: -2px;
  /* Turns off styling - not usually needed, but good to know. */
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: none;
  background: rgb(53, 60, 68) !important;
  color: rgb(202, 46, 46);
}
/* putting them all together in one selector breaks every browser */
#gameload::-moz-progress-bar {
   background: rgb(202, 46, 46);
}
#gameload::-webkit-progress-bar {
  background: rgb(53, 60, 68);
}
#gameload::-webkit-progress-value {
  background: rgb(202, 46, 46);
}

/* Polyfill */
#gameload[role][aria-valuenow] {
  background: rgb(53, 60, 68) !important;
}
#gameload[aria-valuenow]:before  {
  background: rgb(202, 46, 46);
}
#info {
  position: absolute;
  top: 0px; width: 90%;
  padding: 5px;
}
.screen
	z-index 12
	background-color $body-bg
	margin 0
	display flex
	flex-direction column
	flex-wrap wrap
	justify-content space-between
	align-items center
	align-content stretch
	width	100%

#layers >div.dialog_info {
  position: absolute;
  height: 300px;
  width: 600px;
  top: 60px;
  left: 260px;
}
/*
.screen_inner {
  border: 2px solid $border-color;
  margin: 8px;
  padding: 5px;
  height: 80%;
}
*/
h3
	font-size 150%

#rules_help
	text-align center
	font-size 140%

$btn-light-radius = 40px
$btn-color = #005
.btn
	transition: all 0.5s;
	color: (#DDD - $btn-color)
	background-color: ($btn-color + #222)
	border: 1px solid ($btn-color + #224)
	border-radius: 2em;
	font-size: 300%;
	width: 6em;
	margin: $btn-light-radius
	display inline-block

.btn-icon
	width: 3em;
	padding-top: 0.1em; /* HACK to center font icon */

.btn:focus
	outline-style none

.btn:hover:enabled, a.btn:hover
	color: (#FFF - $btn-color)
	border: 1px solid ($btn-color + #777)
	background-color: ($btn-color + #444)
	box-shadow: 0px 0 $btn-light-radius ($btn-color + #AAA)

.btn:enabled, a.btn
	border: 1px solid ($btn-color + #666)
	background-color: ($btn-color + #444)
	box-shadow: 0px 0 ($btn-light-radius / 4) ($btn-color + #BBB)

.btn:disabled
	background-color: ($body-bg + #101010)
	color: ($body-bg + #000005)
	border: 1px solid @color
	box-shadow: none

.actions
	margin-top ($btn-light-radius / -2)
	text-align center
	align-self stretch

footer
	padding: 0
	width: 100%

.vbadge
	color: rgb(250,50,50)
	background-color: transparent
	font-size: 34px
	transform: rotate(-45deg)
	position: absolute
	top: 46px
	left: -6px
	width: 100px
	text-align: center



@keyframes opacityBlink {
  0%  {   opacity: 0.9;  }
  70% {   opacity: 0.2;  }
  100%{   opacity: 0.9;  }
}

.blinking5s {
  animation: opacityBlink 0.7s ease-in-out infinite;
}

table.stats {
  width: 100%;
}
table.stats th {
  text-align: left;
}
table.stats td {
  text-align: right;
}

#areas
	margin: 0;
	display flex
	flex-direction row
	flex-wrap wrap
	justify-content center
	align-items center
	align-content flex-start
	height 80%
	overflow-y auto

.areaInfo
	order 0
	flex 0 1 auto
	align-self auto
	margin 0.1em
	border 1px solid red
	width 1.3em
	height @width
	text-decoration: none;
	font-size: 9em;
	background-color ($border-color + #444)
	border-color $border-color
	color: #000
	line-height: initial
	text-align: center
	border-top-left-radius: 7px
	border-bottom-right-radius: 40px

.areaInfo.disabled
	background-color ($border-color - #111)
	border-color $border-color
	color: ($border-color - #333)

.body
	margin 0
	display flex
	flex-direction column
	flex-wrap nowrap
	justify-content space-between
	align-items stretch
	align-content center
	font-size: 14px;
	line-height: 21px;
	color $text-color
	background-color $body-bg
	width: 100%
	height: 100%

.header
	align-self stretch
	display flex
	flex-direction row
	flex-wrap nowrap
	justify-content space-between
	align-items flex-start
	align-content center
	background-image: linear-gradient(rgb(32, 35, 40), rgb(21, 23, 25) 70%, rgb(21, 23, 25));
	background-repeat: no-repeat;
	border-color: rgb(37, 37, 37);
	border: 1px solid rgb(12, 13, 14);
	border-radius: 4px;
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.067);

.header >*, .screen >*
	order 0
	flex: 0 1 auto;
	align-self: auto;

.main
	flex: 1 1 auto;
	margin 0
	padding-left 0
	padding-right 0
	padding-top 2em
	padding-bottom 3em
	width 100%
/* disable height to not override flex-grow: 1
height 100%
*/

.footer
	align-self stretch
	display flex
	flex-direction row
	flex-wrap nowrap
	justify-content center
	align-items center
	align-content center
	width 100%

.footer >*
	order 0
	flex: 0 1 auto;
	align-self: auto;

ul.nav
	list-style none
	padding 0
	margin 0

ul.nav >li
	float left

.nav li > a:hover, .nav li.active > a, .nav li.active > a:hover {
	background-color: rgb(28, 30, 34);
	background-image: linear-gradient(280deg, rgb(16, 18, 20), rgb(28, 30, 34));
	background-repeat: repeat-x;
	/*
	border-right: 1px solid transparent;
	border-left: 1px solid transparent;
	*/
	color: rgb(255, 255, 255);
}
.nav > li > a {
	background-color: transparent;
	background-image: none;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
	border-right: 1px solid rgba(0, 0, 0, 0.2);
	border-left: 1px solid rgba(255, 255, 255, 0.1);
	color: rgb(122, 130, 136);
	font-weight: bold;
	background-repeat: no-repeat;
	border: 0px none;
	text-decoration: none;
	padding: 0px 15px;
}
/*
.navbar .navbar-inner {
  min-height:0px;
}
.navbar-inverse .navbar-inner {
  background-color: #272b30;
  background-image: -webkit-linear-gradient(#202328,#272b30 70%,#272b30);
}
.navbar label {
  display: inline-block;
  width: 2em;
  text-align: center;
}
.navbar input[type="range"]{
  -webkit-appearance:none; -moz-apperance:none;
  width:130px; height:1px;
}
.navbar input::-webkit-slider-thumb{
  -webkit-appearance:none; -moz-apperance:none; width:12px; height:12px;
  -webkit-border-radius:12px; -moz-border-radius:12px; -ms-border-radius:12px; -o-border-radius:12px; border-radius:12px;
  background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0, #fefefe), color-stop(0.49, #dddddd), color-stop(0.51, #d1d1d1), color-stop(1, #a1a1a1) );
}
*/
.dropup, .dropdown
	position: relative;

.nav>li>.dropdown-menu.pull-right
	right: 0;
	left: auto;

.dropdown-menu
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 160px;
	padding: 5px 0;
	margin: 2px 0 0;
	list-style: none;
	background-color: #3a3f44;
	border: 1px solid #ccc;
	border: 1px solid rgba(0,0,0,0.2);
	border-radius: 6px;
	box-shadow: 0 5px 10px rgba(0,0,0,0.2);
	background-clip: padding-box;

.gplus_signin
	display: inline-block;
	background: #dd4b39;
	color: white;
	width: 165px;
	border-radius: 5px;
	white-space: nowrap;
	border: none;

.gplus_signin:hover
	background: #e74b37;
	cursor: hand;

.gplus_signin .icon
	background: url('https://google-developers.appspot.com/+/images/branding/btn_red_32.png') transparent 5px 50% no-repeat;
	display: inline-block;
	vertical-align: middle;
	width: 35px;
	height: 35px;
	border-right: #bb3f30 1px solid;

.gplus_signin .buttonText
	display: inline-block;
	vertical-align: middle;
	padding-left: 35px;
	padding-right: 35px;
	font-size: 14px;
	font-weight: bold;
	/* Use the Roboto font that is loaded in the <head> */
	font-family: 'Roboto',arial,sans-serif;

#achievements
	order 0
	flex: 0 1 auto;
	align-self auto
	margin 0
	display flex
	flex-direction row
	flex-wrap wrap
	justify-content flex-start
	align-items flex-start
	align-content flex-start
	padding 1em


.ach
	order 0
	flex 0 1 auto
	align-self auto
	margin 0.1em
	display flex
	flex-direction column
	flex-wrap wrap
	justify-content flex-start
	align-items center
	/* workaround */
	width 18em
	height 10em

.ach_desc
	font-style: italic;

.ach_icon
	align-content flex-start
	display block
	width 4em
	heignt @width

.login
	text-align center

.revealed
	opacity	0.3
